html, body {
	margin:0;
	padding:0;
	height:100%;
    overflow:hidden;
}
#wrap{
    margin:0;
    padding:0;
    height:80%;
}
#wrap #footer{
    margin:0;
    padding:0;
    height:20%;
}
#map{
    margin:0;
    padding:0;
    background-color:#E0E0E0;
	height:100%;
    width:100%;
    border: 1px solid #999999;
    overflow:hidden;
}
#legend {
    opacity:0.7;
    margin:0.5em 1em 0 0;
    top:0;
    right:0;
    position:absolute;
    z-index:999999;
}
#legend .card-content {
    padding-top:0;
}
#legend .card-title {
    margin-top:0;
    padding-top:0;
}
svg path.blurCircle {
    filter: blur(50px);
}