html, body {
	margin:0;
	padding:0;
	height:100%;
    overflow:hidden;
}
#wrap{
    margin:0;
    padding:0;
    height:80%;
}
#wrap #footer{
    margin:0;
    height:20%;
}
#map{
    margin:0;
    padding:0;
    background-color:#E0E0E0;
	height:100%;
    width:100%;
    border: 1px solid #999999;
    overflow:hidden;
}
svg path.blurCircle {
    filter: blur(50px);
}
#footer{
    padding:10px;
    width:100%;
}
#footer #legend {
    width:30%;
    font-size:10px;
    float:right;
    opacity:0.7;
    margin:0 1em 0 0;
    padding-top:0;
}
#footer #legend .card {
    margin-top:0;
    box-shadow: none;
    border-left: 1px solid #DDDDDD;
}
#footer #legend .card-content {
    margin-top:0;
    padding-top:0;
}
#footer #legend .card-title {
    margin-top:0;
    padding-top:0;
}
#footer #legend .chip {
    display:inline-block;
}
#footer #buttons {
    width:69%;
    float:left;
    overflow:auto;
}
#footer #buttons .btn {
    margin-bottom:10px;
}

#slide-out-btn {
    float:right;
    cursor:pointer;
}
.side-nav {
    z-index:1001;
    margin:0;
    padding: 0 0 0 20px;
}
.side-nav ul li {
    padding:0;
    margin:0;
    line-height:24px;
}
.side-nav ul li {
    padding: 2px 0 0 0;
}
#sidenav-overlay {
    display:none;
}