html, body {
	margin:0;
	padding:0;
	height:100%;
    overflow:hidden;
    position:relative;
}
#legend {
    display:inline-block;
    font-size:10px;
    z-index:9999;
    opacity:0.7;
    margin:0 0 0 24px;
    padding-top:0;

    .chip {
        display:inline-block;
    }
}
#wrap{
    margin:0;
    padding:0;
    height:80%;

    #footer{
        margin:0;
        height:56px;
        padding:10px;
        width:100%;

        #buttons {
            width:69%;
            float:left;
            overflow:auto;

            .btn {
                margin-bottom:10px;
            }
        }
    }
}
#map{
    margin:0;
    padding:0;
    background-color:#E0E0E0;
	height:100%;
    width:100%;
    border: 1px solid #999999;
    overflow:hidden;
}

#app {
    height:100%;
}

svg path.blurCircle {
    filter: blur(50px);
}

#slide-out-btn {
    float:right;
    cursor:pointer;
}
.side-nav {
    z-index:1001;
    margin:0;
    padding: 0 0 0 20px;

    ul li {
        padding: 2px 0 0 0;
        margin:0;
        line-height:24px;
    }
}
#sidenav-overlay {
    display:none;
}